// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


.menu-icon {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 999;
    font-size: 1.3rem;
    padding: 0.75rem 1rem;
}