<ion-content>
  <div class="savings-body">
    <h2 class="brand-blue">Add Savings</h2>

    <input 
      id="mobileInput"
      type="text" 
      inputmode="numeric" 
      (input)="updateEntry($event.target.value)">
      
    <br />
    <ion-button color="light" expand="block" (click)="createSavings()" >Save Money!</ion-button>
    <ion-button fill="clear" (click)="goBack()">
      <ion-icon slot="start" name="arrow-round-back"></ion-icon>
      Go Back
    </ion-button>

  </div>
</ion-content>
