@import "../../theme/variables.scss";

.savings-body {
    background: $brand-orange;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    h2 {
        font-size: 30px;
    }

    #mobileInput {
        background: $brand-blue;
        border: 1px solid $brand-yellow;
        border-radius: 4px;
        padding: .25rem;
        font-size: 1.2rem;
        color: $brand-yellow;
        &:focus {
            outline: 0;
        }
    }
}