
<ion-content >
  <div class="total-bar brand-background-yellow">
    <div class="ion-text-center bubble">
      <div class="total">{{totalAmount | currency: 'USD'}}</div>
      <div class="sub-total" *ngIf="hasSavings">saved so far</div>
      <div class="sub-total" *ngIf="!hasSavings">Don't worry, we won't tell anyone ;)</div>
    </div>
  </div>
  <div class="list-savings" padding>
    <ion-list *ngIf="hasSavings">
      <ion-item-group *ngFor="let day of transactions">
        <ion-list-header>
          <ion-label>{{day.date | date: longDate}}</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let trans of day.savings" >
          <ion-label>{{trans.amount | currency: 'USD'}}</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>
    <div *ngIf="!hasSavings">
      <p>You don't have any past saving. Add one now!</p>
    </div>
  </div>
  <ion-fab horizontal="end">
    <ion-fab-button (click)="addSavings()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
